h1 {
    font-family:'Lato',cursive ;
}

h2, h3 .navbar-nav
{
    font-family: "lato";

}


.margin-30
{
    margin-bottom:30px;
}

.navbar-expand-md
{
    background-color: aquamarine;
    border-color: chartreuse;
}

.navbar-brand{
    padding: 0px;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-expand-md .navbar-nav > li > a {

}

